<%= render 'form', edit: false, cat: @cat %>

<!--
# <h1>CREATE NEW CAT</h1>
# <form action="<%= cats_url %>" method="POST"> 
#   <label for="name">Name</label>
#   <input type= "input" name = "cat[name]" id="name">
#   <label for="date">Birth date</label>
#   <input type= "date" name = "cat[birth_date]" id="date">
#   <label for="color">Color</label>
#   <select name = "cat[color]">
#     <option disabled>Please select a color...</option>
#     <option value="black">black</option>
#     <option value="green">green</option>
#     <option value="orange">orange</option>
#     <option value="blue">blue</option>
#     <option value="white">white</option>
#     <option value="gray">gray</option>
#     <option value="brown">brown</option>
#     <option value="red">red</option>
#   </select>
#   <input type="radio" id="m" name="cat[sex]" value="M">
#   <label for="m">M</label>
#   <input type="radio" id="f" name="cat[sex]" value="F">
#   <label for="f">F</label>
#   <br><br><br>
#   <label for="description">Description</label>
#   <br>
#   <textarea id="description" name="cat[description]" rows="8" cols="80"></textarea>
#   <br>
#   <label for="submit">Submit</label>
#   <input type= "submit" name = "Submit" id="submit">
# </form> -->