<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
  </head>

  <body bgcolor="cyan" style="font-family: Comic Sans MS;font-size:18pt">
    <%= yield %>
  </body>
</html>
